.countdown {
}
.countdown--progress {
	height: 3px;
	width: 574px;

	background: #BBBBBB;
	line-height: 0;

	margin-top: 15px;
	margin-bottom: 40px;
}
.countdown--progress--inner {
	height: 170%;
	position: relative;
	top: -50%;

	background: #DD1122;


	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}
.anim .countdown--progress--inner {
	transition: width 1s linear;
}